/weatherapp/nbproject/private/
/react-landing-page/nbproject/private/
/react-landing-page/node_modules
/mdboostrap-landing-page/node_modules
/mdboostrap-landing-page/nbproject/private
a52_paginaweb/src/pages