<!-- Main section-->
<section>
        <!-- Page content-->
        <div class="content-wrapper">
        <h3>
           Add post
            <small></small>
        </h3>
        
          
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Post details
                    </div>
                    <div class="panel-body">
    
                        <div class="row">
                            <%= render 'form' %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    
    
    
    
    