
<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper">
    <h3>
      Ruby on Rails Blog
        <small>By Carlos Torres</small>
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <p>Enter Here <%= link_to 'My Blog', controller: 'articles' %></p>
        </div>
    </div>
    </div>
</section>s
